extends layout

block content
    head
        title Simple Map
        meta(name='viewport', content='initial-scale=1.0')
        meta(charset='utf-8')

        script(type='text/javascript', src='/javascripts/under_menu_display.js')
        script(type='text/javascript', src='/javascripts/api.js')
