extends layout

block content
    head
        title Simple Map
        meta(name='viewport', content='initial-scale=1.0')
        meta(charset='utf-8')

        script(type='text/javascript', src='/javascripts/under_menu_display.js')
        script(type='text/javascript', src='/javascripts/api.js')

        style.
            /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
            body {
                font-family: "Lato", sans-serif;
            }

        body
            #mySidenav.sidenav
                a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
                #menu
                    form(name='poi_list')
                        input(type='radio', name='poi', value='bar')
                        | bar
                        br
                        input(type='radio', name='poi', value='restaurant')
                        | restaurant
                        br
                        input(type='radio', name='poi', value='bowling_alley')
                        | bowling_alley
                        br
                        input(type='radio', name='poi', value='amusement_park')
                        | amusement_park
                        br
                        input(type='radio', name='poi', value='aquarium')
                        | aquarium
                        br
                        input(type='radio', name='poi', value='park')
                        | park
                        br
                        input(type='radio', name='poi', value='stadium')
                        | stadium
                        br
                        input(type='radio', name='poi', value='zoo')
                        | zoo
                        br
                        input(type='radio', name='poi', value='art_gallery')
                        | art_gallery
                        br
                        input(type='radio', name='poi', value='church')
                        | church
                        br


                br
                input(type='text', value='', id='text_id')
                br

                form
                    input(type='checkbox', name='vehicle1', value='Bike')
                    | I have a bike
                    br


                br
                button(onclick='maj()') click

            span(style='font-size:30px;cursor:pointer', onclick='openNav()') ☰ Params

            #map
                script(async = '', defer = '', src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBF9y6_whjHe2QDpkZXDxz29_zV3F7MBX0&libraries=places&callback=initMap')
                script(src='https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js')

            script.
                var selection = document.poi_list.poi;
                var radio_value

                function maj() {
                    for (i = 0; i < selection.length; i++) {
                        if (selection[i].checked === true)
                            radio_value = selection[i].value
                    }
                    window.location.href = 'http://localhost:3000/POI?param=' + document.getElementById("text_id").value + '&param=' + radio_value;
                };
