extends layout

block content
    head
        title Simple Map
        meta(name='viewport', content='initial-scale=1.0')
        meta(charset='utf-8')

        script(type='text/javascript', src='/javascripts/under_menu_display.js')
        script(type='text/javascript', src='/javascripts/api.js')

        style.
            /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
            body {
                font-family: "Lato", sans-serif;
            }

        body
            #mySidenav.sidenav
                a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
                #menu
                    form(name='poi_list')
                        input(type='radio', name='poi', value='bar')
                        | bar
                        br
                        input(type='radio', name='poi', value='restaurant')
                        | restaurant
                        br
                        input(type='radio', name='poi', value='bowling_alley')
                        | bowling_alley
                        br
                        input(type='radio', name='poi', value='amusement_park')
                        | amusement_park
                        br
                        input(type='radio', name='poi', value='aquarium')
                        | aquarium
                        br
                        input(type='radio', name='poi', value='park')
                        | park
                        br
                        input(type='radio', name='poi', value='stadium')
                        | stadium
                        br
                        input(type='radio', name='poi', value='zoo')
                        | zoo
                        br
                        input(type='radio', name='poi', value='art_gallery')
                        | art_gallery
                        br
                        input(type='radio', name='poi', value='church')
                        | church
                        br


                br
                input(type='text', value='', id='text_id')

                br
                button(onclick='maj()') click

            span(style='font-size:30px;cursor:pointer', onclick='openNav()') ☰ Params

            #map
                script(async = '', defer = '', src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBF9y6_whjHe2QDpkZXDxz29_zV3F7MBX0&libraries=places&callback=mapParam')
                script(src='https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js')

            script.
                var selection = document.poi_list.poi;
                var radio_value

                function maj() {



                    for (i = 0; i < selection.length; i++) {
                        if (selection[i].checked === true)
                            radio_value = selection[i].value
                    }
                    window.location.href = 'http://localhost:3000/POI?param=' + document.getElementById("text_id").value + '&param=' + radio_value;
                };



     //var list = new Array(accounting,
                airport,
                amusement_park,
                aquarium,
                art_gallery,
                atm,
                bakery,
                bank,
                bar,
                beauty_salon,
                bicycle_store,
                book_store,
                bowling_alley,
                bus_station,
                cafe,
                campground,
                car_dealer,
                car_rental,
                car_repair,
                car_wash,
                casino,
                cemetery,
                church,
                city_hall,
                clothing_store,
                convenience_store,
                courthouse,
                dentist,
                department_store,
                doctor,
                electrician,
                electronics_store,
                embassy,
                fire_station,
                florist,
                funeral_home,
                furniture_store,
                gas_station,
                gym,
                hair_care,
                hardware_store,
                hindu_temple,
                home_goods_store,
                hospital,
                insurance_agency,
                jewelry_store,
                laundry,
                lawyer,
                library,
                liquor_store,
                local_government_office,
                locksmith,
                lodging,
                meal_delivery,
                meal_takeaway,
                mosque,
                movie_rental,
                movie_theater,
                moving_company,
                museum,
                night_club,
                painter,
                park,
                parking,
                pet_store,
                pharmacy,
                physiotherapist,
                plumber,
                police,
                post_office,
                real_estate_agency,
                restaurant,
                roofing_contractor,
                rv_park,
                school,
                shoe_store,
                shopping_mall,
                spa,
                stadium,
                storage,
                store,
                subway_station,
                synagogue,
                taxi_stand,
                train_station,
                transit_station,
                travel_agency,
                university,
                veterinary_care,
                zoo);*/
